---

---
@charset "utf-8";
@import "bourbon/bourbon";
@import url("//fonts.googleapis.com/css?family=Nunito:300,700");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700");

$header-font: "LucidaBright-Demi", serif;
$font:        "AvenirNext-Regular", "Nunito", sans-serif;


$h1-size:         48px;
$h2-size:         36px;
$h3-size:         24px;
$h4-size:         20px;
$font-size:       18px;

//
// $background-color: #9D969E;
// $dark-purple:      #2E0536;
// $darker-purple: #290530;
// $lightpurple:   #866E8A;
//134, 110, 138


$lightBrand: #abc6ca;
// $darkBrand: #035D67;
$darkBrand: #003338;

$mobile:           1000px;
$mobileSmall:      480px;

$spacing:          30px;
$spacingx2:        $spacing * 2;

$icon-width:       34px;
$social-width:     24px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "base"


;
