---

---
@charset "utf-8";
@import "bourbon/bourbon";


$header-font: "LucidaBright-Demi";
$font:        "AvenirNext-Regular", sans-serif;


$h1-size:         96px;
$h2-size:         48px;
$h3-size:         36px;
$font-size:       16px;

$background-color: #9D969E;
$brand-color:      #2E0536;
$brand-color-dark: #290530;
$lightpurple:      #866E8A;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"

;
