@charset "UTF-8";

/**
 * Reset some basic elements
 */
body, footer, nav, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

//--------------------General--------------------//

body{
  font-family: $font;
  font-size: $font-size;
}

a {
    color: inherit;
    text-decoration: none;
}


main
{
  a{
    font-weight:600;
    // font-style: italic;
  }

  a:hover{
  text-decoration: underline;
  }
}


li
{
    list-style-type: none;
}

footer > li, nav > li
{
  margin-left: $spacing;
  margin-top:10px;
  margin-bottom: 10px;
}

h1
{
  font-family: $header-font;
  font-size: $h1-size;
  color: $brand-color-dark;
}

h2
{
  font-family: $header-font;
  font-size: $h2-size;
  font-weight:900;
  color: $brand-color-dark;
}

h3
{
  font-size: $h3-size;
  font-weight: 600;
}

h4
{
  font-size: 1.17em;
}

strong
{
  color: $lightpurple;
}

//--------------------Footer--------------------//

footer
{
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  padding-left: $spacingx2;
  padding-right: $spacingx2;
  background: $background-color;
  color: white;
  font-size: 12px;
  border-top: 3px double rgba(white, 0.2);

  svg
  {
    width:$icon-width;
    fill: white;
    &:hover {
        fill: $lightpurple;
    }
  }

  //for mobile screens (tabs and landscapes)
                                                                                                                                                                                        @media screen and (max-width:$mobile)
                                                                                                                                                                                        {
                                                                                                                                                                                          background: rgba($background-color, .8);

                                                                                                                                                                                          li:first-child
                                                                                                                                                                                          {
                                                                                                                                                                                            margin-left: 0px;
                                                                                                                                                                                          }
                                                                                                                                                                                          @include justify-content(center);
                                                                                                                                                                                        }

  //for mobile screens (phone portraits)
  @media screen and (max-width:$mobileSmall)
    {
      li:last-child
      {
        margin-left: 0px;
      }
    }
}

//on large screens only
@media screen and (min-width:$mobile)
{
  footer > li:last-child
  {
    margin-left: auto;
    margin-right: $spacing;
  }
}


//--------------------Navbar--------------------//

nav{
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  font-family: $header-font;
  font-size: $font-size;
  color: $brand-color;
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(flex-end);
  background: rgba($background-color, 0.5);
  border-bottom: 3px double rgba(white, 0.2);

  #mailIcon
  {
    width:$icon-width;
    margin-right: $spacing;
    fill: $brand-color;

    &:hover {
        fill: $lightpurple;
    }
  }

  //for the on/off hover growing/shinking underline effect
  a
  {
    p:after {
      content: '';
  	  display: block;
  	  margin: auto;
  	  height: 2px;
  	  width: 0px;
  	  background: transparent;
  	  transition: width .5s ease, background-color .5s ease;
       }

    p:hover:after {
  	   width: 100%;
  	   background: $lightpurple;
       }
     }

//Make links larger for tablets
@media screen and (max-width:$mobile) and (min-width:$mobileSmall)
{
    font-size: $font-size-emp;
}

  }


nav > li:first-child
{
  margin-right: auto;
}

#logo
{
  width:59px;
  height:39px;

  #logoColor
  {
    fill: $brand-color;
  }
}


//--------------------Home Above--------------------//

#home{
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  background-image: url("/images/GRSkylineBlur.jpg");
  background-size: cover;
  background-attachment: fixed;

  nav{
    position: absolute;
  }



  //fix mobile rendering of the bkg image

@media screen and (max-width:1100px)
{
  background-attachment: scroll;
}

//change header text to be more responsive
  @media screen and (max-width:700px){
    h1{
      font-size: $h1-size - ($h1-size * .25);
    }
    h2{
      font-size: $h2-size - ($h2-size * .25);
    }
  }

  @media screen and (max-width:515px){
    h1, h2{
      text-align: center;
    }
  }
}

//--------------------Home Below--------------------//

#intro{
  text-align: center;
  font-size: $font-size-emp;
  margin: auto;
  width: 70%;
  margin-top:$spacingx2;
}

#colIcons
{
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(justify);
  margin:$spacing;
  margin-left:$spacingx2;
  margin-right:$spacingx2;
}

#computerIcon
{
  @include flex(1);
  stroke: $lightpurple;
  fill: white;
}

#artIcon
{
  @include flex(1);
  fill: white;
  stroke: $lightpurple;

  #pencil
  {
    fill: $lightpurple;
    stroke: white;
  }
}

#bookIcon
{
@include flex(1.5);
fill: white;
stroke: $lightpurple;
}

#columnsFlex
{
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(justify);
  margin:$spacing;
  margin-bottom: $spacingx2;

  p{
    text-indent: 20px;
  }

  @media screen and (max-width:$mobile)
  {
    @include flex-direction(column);
    margin: 0;
  }
}

#col1, #col3{
  background: $background-color;
  padding: $spacing;
  margin-left: $spacing;
  margin-right: $spacing;
  @include flex(1);
  color: white;

  @media screen and (max-width:$mobile)
  {
    margin: 0px;
    padding-top: $spacingx2;
    padding-bottom: $spacingx2;
  }
}

#col2
{
  @include flex(1.5);
  padding: $spacing;
  border: 3px solid $background-color;

  @media screen and (max-width:$mobile)
  {
    border: none;
    padding-top: $spacingx2;
    padding-bottom: $spacingx2;
  }

}

//--------------------Thoughts--------------------//

.skylineBkg
{
  background-image: url("/images/skylineBkg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.postsList{
  position: relative;
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  padding-top: $spacingx2;
  padding-bottom: $spacing;
  margin-left: 15%;
  margin-right: 15%;

  //for small screens
  @media screen and (max-width:$mobile)
  {
    h2
    {
      font-size: $h2-size - ($h2-size * .25);
    }
    h3
    {
      font-size: 28px;
    }
    margin-left: 8%;
    margin-right: 8%;
  }

  h2,h3,h4,p,h1
  {
    text-align: center;
  }


  hr{
    width: 70%;
    margin-left: 15%;
    border-top: 3px solid $background-color;
    text-align: center;
  }
}

.post
{
  @extend .postsList;
  p
  {
    text-align: left;
  }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
