@charset "UTF-8";

/**
 * Reset some basic elements
 */
// html, body, footer, nav, h1, h2, h3, h4, h5, h6,
// p, blockquote, pre, hr,
// dl, dd, ol, ul, figure {
//     margin: 0;
//     padding: 0;
// }

//--------------------General--------------------//

body{
  font-family: $font;
  font-size: $font-size;
}

a {
    color: inherit;
    text-decoration: none;
}

main
{
  // background-image: url("/images/GRSkyline.jpg");
  a{
    font-weight:600;
    // font-style: italic;
  }

  a:hover{
  text-decoration: underline;
  }
}

p {
  margin-top: 1em;
}

li
{
    list-style-type: none;
}

footer > #footerLinks > li, nav > li
{
  margin-left: $spacing;
  margin-top:10px;
  margin-bottom: 10px;
}

h1
{
  font-family: $header-font;
  font-size: $h1-size;
  // color: $darker-purple;
  color: #fff;
}

h2
{
  font-family: $header-font;
  font-size: $h2-size;
  font-weight:900;
  // color: $darker-purple;
  color: #fff;
}

h3
{
  font-family: $header-font;
  font-size: $h3-size;
  font-weight: 600;
  color: $darker-purple;
}

h4
{
  font-size: $h4-size;
}

strong
{
  color: $dark-purple;
}

//--------------------Footer--------------------//

footer
{
  position: relative;
  // bottom: 0;
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  // @include flex-wrap(wrap);
  // padding-left: $spacing;
  // padding-right: $spacing;
  padding: 0px $spacing 0px $spacing;
  background: $background-color;
  color: white;
  font-size: 12px;
  border-top: 3px double rgba(white, 0.2);

  svg, #linkedIn
  {
    width:$icon-width;
    fill: white;
    &:hover {
        fill: $dark-purple;
    }
  }

  //for mobile screens (tablets and landscapes)
  @media screen and (max-width:$mobile)
  {
    // background: rgba($background-color, .8);
    // :first-child
    // {
    //   margin-left: 0px;
    // }

    #credits
    {
      text-align: center;
      padding-left: $spacing;
      padding-right: $spacing;
    }
    // @include justify-content(center);
    // @include align-items(center);
  }

  //for mobile screens (phone portraits)
  @media screen and (max-width:$mobileSmall)
    {
      @include flex-direction(column);
      #footerLinks
      {
        padding-right: $spacing;
      }
      // :last-child
      // {
      //   margin-left: 0px;
      // }

      #credits
      {
        @include align-items(center);
        padding-bottom: 10px;
      }

    }
}

#footerLinks
{
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
}

#credits
{
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
}

//on large screens only
@media screen and (min-width:$mobile)
{
  footer > div:last-child
  {
    margin-left: auto;
    margin-right: $spacing;
  }
}


//--------------------Navbar--------------------//

nav{
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  font-family: $header-font;
  font-size: $font-size;
  color: $darkBrand;
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(flex-end);
  background: $background-color;
  border-bottom: 1px solid white;

  #mailIcon
  {
    width:$icon-width;
    margin-right: $spacing;
    fill: $darkBrand;

    &:hover {
        fill: #fff;
    }
  }

  //for the on/off hover growing/shinking underline effect on desktops only
  @media screen and (min-width:$mobile)
  {
  a
  {
    p:after {
      content: '';
  	  display: block;
  	  margin: auto;
  	  height: 2px;
  	  width: 0px;
  	  background: transparent;
  	  transition: width .5s ease, background-color .5s ease;
       }

    p:hover:after {
  	   width: 100%;
  	   background: #fff;
       }
     }
   }

//Make links larger for tablets
// @media screen and (max-width:$mobile) and (min-width:$mobileSmall)
// {
//     font-size: $font-size-emp;
// }

}

#navbarHome
{
  @extend nav;
  //background: rgba($background-color, .9);
  background: rgba(#fff, .4);
}


nav > li:first-child
{
  margin-right: auto;
}

#logo
{
  width:59px;
  height:39px;

  #logoColor
  {
    fill: $darker-purple;
  }
}


//--------------------Home Above--------------------//

#homeTitle
{
  @include display(flex);
  @include flex-direction(row);
  @include align-items(flex-end);
  @include justify-content(center);

  width: 100%;
  border-top: 3px double rgba(#fff, 0.5);
  background: rgba($background-color, .9);
  // background: $background-color;

  p
  {
    font-size: $h2-size;
    color: #fff;
    // display: inline-block;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @media screen and (max-width:1030px)
  {
    @include flex-direction(column);
    @include align-items(center);
  }
  //change header text to be more responsive
    @media screen and (max-width:700px){
      h1{
        font-size: $h1-size - ($h1-size * .35);
      }
      p{
        font-size: $h2-size - ($h2-size * .25);
      }
    }
}

#home{
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(flex-end);
  background-image: url("/images/lightHouse.jpg");
  background-size: cover;
  background-attachment: fixed;

  nav{
    position: absolute;
  }



  //fix mobile rendering of the bkg image

@media screen and (max-width:1100px)
{
  background-attachment: scroll;
}



  @media screen and (max-width:515px){
    h1, h2{
      text-align: center;
    }
  }
}

//--------------------Home Below--------------------//

#intro{
  text-align: center;
  font-size: $h4-size;
  margin: auto;
  width: 70%;
  margin-top:$spacingx2;
}

#colIcons
{
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(justify);
  margin:$spacing;
  margin-left:$spacingx2;
  margin-right:$spacingx2;
}

#computerIcon
{
  @include flex(1);
  stroke: $darkBrand;
  stroke-width: 2px;
  fill: white;
}

#artIcon
{
  @include flex(1);
  fill: white;
  stroke: $darkBrand;

  #pencil
  {
    fill: $darkBrand;
    stroke: white;
  }
}

#bookIcon
{
@include flex(1.5);
fill: white;
stroke: $darkBrand;
}

#columnsFlex
{
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(justify);
  margin:$spacing;
  margin-bottom: $spacingx2;

  p{
    text-indent: 20px;
  }

  @media screen and (max-width:$mobile)
  {
    @include flex-direction(column);
    margin: 0;
  }
}

#col1, #col3{
  background: $background-color;
  padding: $spacing;
  margin-left: $spacing;
  margin-right: $spacing;
  @include flex(1);
  color: white;

  @media screen and (max-width:$mobile)
  {
    margin: 0px;
    padding-top: $spacingx2;
    padding-bottom: $spacingx2;
  }
}

#col2
{
  @include flex(1.5);
  padding: $spacing;
  border: 3px solid $background-color;

  h4
  {
    color: $darkBrand;
  }

  @media screen and (max-width:$mobile)
  {
    border: none;
    padding-top: $spacingx2;
    padding-bottom: $spacingx2;
  }

}

//--------------------Portfolio--------------------//
#portfolioHeader
{
  text-align: center;
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(flex-end );
  background-image: url("/images/GRskylineEx.svg");
  background-repeat: no-repeat;
  background-position: center;
  // background-attachment:fixed;
  background-size:cover;
  height: 200px;
  border-bottom: 3px solid $dark-purple;
  padding-top: 120px;
  margin-top: 30px;

}

// #portfolioTitle
// {
//   position: fixed;
//
// }


// #portfolioArrow
// {
//   width: 100%;
//   height: 200px;
//   fill: $dark-purple;
//   position: fixed;
//   right: 0px;
// }
#rowsFlex
{
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(flex-start);
  width: 100%;
  background: white;
  // margin:$spacingx2;
  .sites:nth-of-type(even)
  {
    background: $background-color;
  }
  // padding-bottom: $spacingx2;

}

.sites
{
  padding: 60px;
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  // @include justify-content(space-between);
}

.siteDesc
{
  @include flex(2);
  padding-right: 60px;
}

.screenshotsGroup
{
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include flex(1);
  margin: 0px;
}



.screenshot
{
  width: 300px;
  margin: 15px 0px 15px 15px;
  border: 2px solid $darker-purple;


}

// #pineLakeB
// {
//   height: 200px;
// }

// .tint {
// 	position: relative;
// 	float: left;
// 	cursor: pointer;
//   margin: 15px 15px 15px 15px;
//   border: 2px solid $darker-purple;
// }
//
// .tint:before {
// 	content: "";
// 	display: block;
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	background-color: rgba(157, 150, 158, .6);
// }
//
// .tint:hover:before {
// 	background: none;
// }


@media screen and (max-width:$mobile)
{
  .sites
  {
    @include flex-direction(column);
  }
  .siteDesc
  {
    padding-right: 0px;
  }
  .screenshotsGroup
  {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    // @include flex(3);
    margin-top: 60px;
  }
}

@media screen and (max-width:700px)
{
  .screenshotsGroup
  {
    @include flex-direction(column);
  }
  .screenshot
  {
    width: 200px;
  }
}



//--------------------Thoughts--------------------//

.skylineBkg
{
  background-image: url("/images/GRSkyline20.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size:cover;
}

.postsList{
  position: relative;
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  padding-top: $spacingx2;
  padding-bottom: $spacing;
  padding-left: $spacing;
  padding-right: $spacing;
  // background-color: rgba(157, 150, 158, .2);
  border-radius: 30px;
  margin-left: 15%;
  margin-right: 15%;

  //for small screens
  @media screen and (max-width:$mobile)
  {
    h2
    {
      font-size: $h2-size - ($h2-size * .25);
    }
    h3
    {
      font-size: 28px;
    }
    margin-left: 8%;
    margin-right: 8%;
  }

  h2,h3,h4,p,h1
  {
    text-align: center;
  }


  hr{
    width: 70%;
    margin-left: 15%;
    border-top: 3px solid $background-color;
    text-align: center;
  }
}

.post
{
  @extend .postsList;
  p
  {
    text-align: left;
  }
}


/**
 * Clearfix
 @extend %clearfix;
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
