@charset "UTF-8";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

footer
{
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(flex-end);
  svg
  {
    width:34px;
    fill: $brand-color;
    &:hover {
        fill: #35063d;
    }
  }
  // opacity: 0.89;
  background-image: linear-gradient(-180deg, #9D969E 4%, #FCF7FD 100%);
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $brand-hover;
        text-decoration: underline;
    }
}

nav{
font-family: $header-font;
font-size: 16px;
color: $brand-color;
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(flex-end);
  // opacity: 0.89;
  background-image: linear-gradient(-180deg, #9D969E 4%, #FCF7FD 100%);

}

li
{
  margin-left: 30px;
  margin-top:10px;
  margin-bottom: 10px;
  list-style-type: none;
  // display: inline-block;
  // @include flex(1);
}

nav > li:first-child
{
  margin-right: auto;
}

#mailIcon
{
  width:34px;
  fill: $brand-color;
  margin-right: 30px;

  &:hover {
      fill: #35063d;
  }

}



#logo
{
  width:83px;
  height:46px;

  #logoColor
  {
    fill: $brand-color;
  }

}

#home{
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  background-image: url("/images/GRSkyline2.png");
  background-size: cover;
  background-attachment: fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
}

#titleBox{
  position:fixed;
}

#home2
{
  // margin: 30px;
}

#intro{
  text-align: center;
  font-size: 20px;
  margin: auto;
  width: 70%;
  margin-top:60px;
}

#columns
{
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(justify);
  margin:30px;
}

#col1, #col3{
  background: #9D969E;
  padding: 30px;
  margin-left: 30px;
  margin-right: 30px;
  // flex: 1;
  @include flex(1);
  color: white;
}

#col2
{
  @include flex(2);
  // flex: 2;
  padding: 30px;
  border: 3px solid #9D969E;
}

h1
{
  // font-family: $header-font;
  // font-size: 96px;
  // color: $brand-color;
}

h2
{
  font-family: $header-font;
  font-size: 48px;
  color: $brand-color;
}




/**
 * Wrapper
 */
// .wrapper {
//     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
//     max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
//     margin-right: auto;
//     margin-left: auto;
//     padding-right: $spacing-unit;
//     padding-left: $spacing-unit;
//     @extend %clearfix;
//
//     // @include media-query($on-laptop) {
//     //     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//     //     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
//     //     padding-right: $spacing-unit / 2;
//     //     padding-left: $spacing-unit / 2;
//   //  }
// }



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
